$first-color: red;
$second-color: blue;
$third-color: green;
$article-padding: 0 20px;
$section-margin: 20px;
$article-size: 1rem;


@mixin article-card($color, $border-color, $font-size) {
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
}

div {
    border: 1px solid $first-color;

    h1 {
        color: $third-color;
        text-align: center;
        text-decoration: underline 2px solid $second-color;
    }

    section {
        margin: $section-margin;

        &:nth-child(2) {
            display: flex;

            article:nth-child(odd) {
                @include article-card($second-color, $third-color, $article-size);
                padding: $article-padding;
                text-align: center;
            }

            article:nth-child(even) {
                @include article-card($first-color, $third-color, $article-size);
                padding: $article-padding;
                text-align: center;
            }
        }

        &:last-child {
            article {
                text-align: center;
                @include article-card($third-color, $second-color, 24px);
            }
        }
    }
}